matplotlib==3.7.1
numpy==1.23.5
pandas==2.0.3
python-dotenv==1.0.0
requests==2.31.0
seaborn==0.12.2
torch==2.0.1
tqdm==4.65.0
transformers==4.30.2
tensorboard==2.13.0
tensorflow==2.13.0

pymongo>=4.5.0
Flask>=2.3.3
yfinance>=0.2.28
click>=8.1.7
finnhub-python==2.4.18
kafka-python>=2.0.2